<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projet1.Properties.Settings.BD5B6TP1_BrodeurLussierConnectionString"
            connectionString="Data Source=sv-sqlinfo.cgodin.qc.ca;Initial Catalog=BD5B6TP1_BrodeurLussier;User ID=5B6Brodeur;Password=C1h2a3t4"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>